/* this came with the app */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* END */

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background:rgba(245,248,250,1);
}

header {
	text-align: center;
	padding:10px;
	background:lightsalmon;
	margin-bottom:10px;
	position:relative;
}

.logout {
	position:absolute;
	right:10px;
	top: 10px;
}

.avatar, .image {
	width:50px;
	height:50px;
	border-radius: 50%;
}

.image {
	margin:10px;
	float:left;
}

li {
	padding-bottom:10px;
	margin-bottom:10px;
	margin-top:10px;
	border-bottom:1px solid #d3d3d3;
}

.post-input {
	margin-left:70px;
	margin-top:10px;
}

.time {
	color: #9d9d9d;
}

.handle {
	font-size:1.25em;
	font-weight: 700;
}

.post {
	font-size: 1.5em;
}

.post-box {
	border-bottom:1px solid #d3d3d3;
	padding:20px;
	margin-left:100px;
	margin-right:100px;
	background-color: white;
    height: 130px;
}

.send-post {
	text-align:right;
	margin-top:5px;
}

.post-box:hover{
	background-color:rgba(211, 211, 211, 0.27);
}

.write-post, .write-post:hover  {
	background-color: rgb(229, 242, 247);
}

.link {
    color: black;
    text-decoration: none;
}

.link:hover {
     color:white; 
     text-decoration:none; 
     cursor: pointer;
}

.load {
    display: table-cell;
    vertical-align: middle
}

.sign-up-form button {
  margin-right:1em;
}

.sign-up-form .avatar {
  margin-right: .5em;
  margin-bottom: .5em;
}

<<<<<<< HEAD
/* overriding bootsrap button-group */
.btn-group {
	margin-bottom: 20px;
	margin-top: 5px;
}

.btn-group > .btn {
	margin-right: 0px;
}

/* Footer */
.footer {
	background-color: lightsalmon;
  width:100%;
	height:35px;
	position:absolute;
	bottom:0;
	left:0;
}

#wrapper {
	min-height:100%;
	position:relative;
=======
.questionBox {
	padding-top: 10px;
	padding-bottom: 10px;
>>>>>>> 7cd1d8adba83fda4c14932a792c8a89a5dbfa325
}