body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background:rgba(245,248,250,1);
}

header {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
	padding:10px;
	background:lightsalmon;
	margin-bottom:10px;
	position:relative;
}

@media only screen and (max-width: 379px) {
	header > h1 {
		font-size: 25px;
	}
}

/* logout and go home buttons */
.logout {
	position:absolute;
	right:10px;
	top: 10px;
}

@media only screen and (max-width: 880px) {
	.logout {
		position: relative;
		bottom: 10px;
		margin-left: 15px;
	}
}

/* for text prompting teacher to create a question */
.center {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 25px;
}

@media only screen and (max-width: 880px) {
	.center {
		font-size: 12px;
	}
}

/* links */
.link {
    color: black;
    text-decoration: none;
}

.link:hover {
     color:white; 
     text-decoration:none; 
     cursor: pointer;
}

.sign-up-form button {
  margin-right: 1em;
}

.sign-up-form {
  margin-right: .5em;
  margin-bottom: .5em;
}

/* overriding bootsrap button-group */
.btn-group {
	margin-bottom: 20px;
	margin-top: 5px;
}

.btn-group > .btn {
	margin-right: 0px;
}

/* overriding bootstrap default sizing for header tags */
#tiny-header {
	font-size: 10px;
}

/* for go home button to appear on the left */
.left-button {
	float: left;
}

/* class code input styling */
.enter-class {
	margin-top: 15px;
}

/* making question form responsive */
@media only screen and (min-width: 768px) {
	.question-form {
		margin-left: -148px;
	}
}

@media only screen and (min-width: 991px) {
	.question-form {
		margin-left: -192px;
	}
}

@media only screen and (min-width: 1200px) {
	.question-form {
		margin-left: -228px;
		margin-right: 30px;

	}
}

/* styling for teacher warning prompt */
#fillFour{
	color: grey;
}
